<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular, 500&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index_page.css') }}">
        <title>Главная страница</title>
    </head>

    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container">
                    <a href="" class="header__logo">
                        <img src="{{ url_for('static',filename='images/logo.svg') }}" alt="Логотип">
                    </a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item"><a href="" class="menu__link">О НАС</a></li>
                            <!--Нужен ли юзер-->
                        </ul>
                    </nav>     
                </div>
            </header>
            <main class="main">
                <div class="date">
                    <h1 class="date">Прогноз здоровья на сегодня</h1>
                    <h1 class="date">13 февраля 22:37</h1>
                    <!--Реализация даты!-->    
                </div>
            </main>
            <footer class="footer">
                Footer
            </footer>


        </div>   
    </body>
</html>