<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "style.css"></link>
        <title>Вход</title>
    </head>

    <body>
        <div class="register-form-container">
            <h1 class = "registration-form-title">
                Войдите
            </h1>

            <div class="register-form-textfields"> 
                <input type="text" placeholder="Введите адрес электронной почты">
                <input type="text" placeholder="Пароль">
            </div>
            
            
            <button class = "button">Войти</button>
            <div class = "divider">или войдите через</div>
            <table class="register-form-fast-registration-table">
                <tr>
                    <td> <input type="image" src="../images/facebook-icon.png" alt=""> </td>
                    <td> <input type="image" src="../images/google-icon.png" alt=""> </td>
                    <td> <input type="image" src="../images/vk-icon.png" alt=""> </td>
                </tr>
            </table>
        </div>
</html>