<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular, 500&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main_page.css') }}">
        <title>Главная страница</title>
    </head>

    <body>
        <header class="header">
            <div class="header_nav_container">
                <a href="" class="menu_link">О НАС</a>
            </div>   
            <img class="header_image" src="{{ url_for('static',filename='images/logo.svg') }}" alt="Логотип">
        </header>
        <main class="main">
            <div class="date">
                <h1 class="date">Прогноз здоровья на сегодня</h1>
                <h1 class="date">13 февраля 22:37</h1>
            </div>
            <div class ="text_header1">    
                <h2 class="prediction">Сегодня вероятнее всего у вас будет болеть голова, а так же будет повышено давление</h2>   
            </div>
            <div class ="text_header2">    
                <h2 class="assessment">1 2 3 4 5</h2>   
            </div>
            <div class ="graph"></div>
        </main>
    </div>  
</html>