* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansation_Regular';
    font-size: 100%;
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.register-form-container {
    margin: 75px auto;
    max-width: 475px;
    background: rgba(242, 250, 255, 0.9);
    border: 9px solid #5B93A9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
                inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    position: relative;
}

input {
    /* характеристики блока */
    width: 364px;
    height: 59px;

    /* позиция блока */
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 16px;

    /* позиции внутренних объектов и их характеристики */
    font-size: 14px;
    text-align: center;
    
    /* рамка */
    background: 
        linear-gradient(
            rgba(242, 250, 255, 1),
            rgba(242, 250, 255, 1)
        ) padding-box,
        linear-gradient( to left,
            #8E77D0,
            rgba(175, 154, 236, 0.87), 
            #C2B0F5 ,  
            #E3D9FF
        ) border-box;
    color: #313149;
    padding: 10px;
    border: 5px solid transparent;
    border-radius: 25px;
    display:inline-block; 
}

.form-title {
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: center;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke: 0.2px #6CBFD1; 
    

    background: linear-gradient(
        314.65deg, 
        #6CBFD1 -0.61%, 
        #83D1E2 23.49%, 
        rgba(145, 219, 235, 0.87) 47.6%, 
        #9DE1F0 76.94%, 
        #A2E1EF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}


.button {
    display:block;
    height: 60px;
    background: 
        linear-gradient(314.65deg, 
        #6CBFD1 -0.61%, 
        #83D1E2 23.49%,
        rgba(145, 219, 235, 0.87) 47.6%, 
        #9DE1F0 76.94%, 
        #A2E1EF 100%);
    border-radius: 30px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
}

.button:hover {
    background-color:linear-gradient(
        314.65deg, 
        #6CBFD1 -0.61%, 
        #83D1E2 23.49%, 
        rgba(145, 219, 235, 0.87) 47.6%, 
        #9DE1F0 76.94%, 
        #A2E1EF 100%);
    
}
a.button{
    text-decoration: none;
}
/* input img .button-facebook{

}  где найти сам font (google нема)*/

.divider {
    text-align: center;
    color: #5B93A9;
}

@font-face {
    font-family: "Sansation_Regular"; 
    src: url("../fonts/Sansation_Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 