body {
    font-family: 'Open_Sans';
    font-size: 100%;
    color: #DAE4ED;
    
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

.main {
    flex: 1 1 auto;
    background-image: url('../images/backgrounds/Rectangle\ 2.jpg');
    /* width: 1438px;
    height: 704px; */
    background-repeat: no-repeat;
    background-position: 50% 100%;
    border-radius: 10px;
    /*если убрать длину и ширину, меняет местоположение*/
 
}

[class*="__container"] {
    max-width: 1354px;
    margin: 0px auto;
}

.header {
    background-image: url('../images/backgrounds/index_background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 15%;
    border-radius: 10px;
    
    /*Не работает бордер? В мейне работает, разрешение одно*/
}



.header__container {
    display: flex;
    min-height: 320px;
    
}


.header__logo{
    padding-top: 220px;
}
.header__menu{
    flex: 1 1 auto;
    padding-top: 30px;
}

.menu {
    display: flex;
    justify-content: flex-end;   
    padding: 0px 20px 0px 0px ;
}
.menu__list{
    display: flex;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.7;
    text-align: center;
    color: #DAE4ED;

}
.menu__item{
    margin: 0px -70px 0px 0px;
    color: #DAE4ED;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.7;
    text-align: center;
    color: #DAE4ED; 
    text-decoration: none;  
    list-style-type: none;
    
    /*Проблемы с кнопкой в связи с разрешением экрана? Пришлось загонять из ограничителя шапки*/
}
.menu__link{
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.7;
    text-align: center;
    color: #DAE4ED; 
    text-decoration: none;  
    list-style-type: none;

}
.date {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #DAE4ED;
}

