/* body {
    font-family: 'Open_Sans';
    font-size: 100%;
    color: #DAE4ED;
} */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

.main {
    flex: 1 1 auto;
    background-image: url('../images/backgrounds/Rectangle\ 2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    border-radius: 10px;
}

.header {
    background-image: url('../images/backgrounds/main_background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 29%;
    border-radius: 10px;
    height: 150px;
    padding: 1%;
    margin: auto;
    position:relative;
}

.header_nav_container {
    position: absolute;
    top: 10%;
    right: 5%;
}

.header_image {
    position: absolute;
    bottom: 10%;
    left: 1%;
    height: 50%;
}

/* .menu { */
    /* display: flex; */
    /* position: relative;
    left: 0; */
    /* justify-content: flex-end;    */
    /* padding: 0px 20px 0px 0px ; */
/* } */

/* .header_menu_list{
    display: flex;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.7;
    text-align: center;
    color: #DAE4ED;
} */

/* .menu_item{
    margin: 0px -70px 0px 0px;
    color: #DAE4ED;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.7;
    text-align: center;
    color: #DAE4ED; 
    text-decoration: none;  
    list-style-type: none;
    
    Проблемы с кнопкой в связи с разрешением экрана? Пришлось загонять из ограничителя шапки */
/* } */

.menu_link{
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #DAE4ED; 
    text-decoration: none;  
    list-style-type: none;
}
/* .date {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #DAE4ED;
} */

