body {
    font-family: 'Open_Sans';
    font-size: 100%;
    color: #DAE4ED;
} 

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

.main {
    flex: 1 1 auto;
    background-image: url('../images/backgrounds/Rectangle\ 2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    border-radius: 10px;
    position: relative;
}

.header {
    background-image: url('../images/backgrounds/main_background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 29%;
    border-radius: 10px;
    height: 150px;
    padding: 1%;
    margin: auto;
    position:relative;
}

.header_nav_container {
    position: absolute;
    top: 10%;
    right: 5%;
}

.header_image {
    position: absolute;
    bottom: 10%;
    left: 1%;
    height: 50%;
}

.text_header1 {
    background-image: url('../images/backgrounds/Rectangle\ 3.jpg');
    background-position: 5% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin: auto;
    height: 174px;
    position: relative;
    border-radius: 10px;
    /* Значения margin/padding между первым и вторым (нижним) текстовым блоками (нижний блок text_header2) */
    /*текстфилды-прямоугольники я заменил на обычные, но бордер тем не менее работать не хочет( */
}

.prediction {
    position: absolute;
    vertical-align: center;
    left: 7%;
    /*Выравнивание текста по центру!*/
}

.text_header2 {
    background-image: url('../images/backgrounds/Rectangle\ 4.jpg');
    background-position: 5% 80%;
    background-repeat: no-repeat;
    padding: 1%;
    margin: auto;
    height: 174px;
    position: relative;
    border-radius: 10px;
}

.assessment{
    position: absolute;
    left: 20%;
    top: 50%;
    
}

.menu_link{
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #DAE4ED; 
    text-decoration: none;  
    list-style-type: none;
}

.graph{
    background-image: url('../images/backgrounds/graph.jpg');
    background-repeat: no-repeat;
    padding: 1%;
    position: absolute;
    left: 51%;
    top: 26%;
    height: 65%;
    width: 43%;
}

.divider{
    position: absolute;
    left: 17.5%;
    top: 59%
}

.date {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #DAE4ED;
}

