@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}

h1 {
    font-family: 'OpenSansLight';
    font-size: 15pt;
    letter-spacing: 1px;
    color: white;
    font-style: normal;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-family: 'OpenSansLight';
    font-size: 12pt;
    letter-spacing: 1px;
    color: white;
    font-style: normal;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
}
body {
    /* margin */
    margin: 0;

    /* background */
    background-image: url('../images/backgrounds/MainBackground.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registrationBlock {
    align-self: center;
    display: flex;
    flex-direction: column;

    width: 470px;
    height: 534px;

    border: 2px solid rgba(255, 255, 255, 0.55);
    background: rgba(43, 53, 67, 0.35);
}

.mainLoginBlock {
    align-self: center;
    display: flex;
    flex-direction: column;

    width: 470px;
    height: 420px;

    border: 2px solid rgba(255, 255, 255, 0.55);
    background: rgba(43, 53, 67, 0.35);
}

.registrationBlockContent {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 75px;
    margin-left: 75px;
}

.registrationBlockContent h1 {
    text-align: center;
}

.fieldsBlock {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.fieldsBlockRow  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 22px;

    height: 42px;
    width: 321px;
}

.fieldsBlockRowBorder {
    width: 1px;
    height: 42px;

    background: white;
}

.fieldsBlockRow input {
    width: 312px;
    height: 42px;

    text-align: center;

    background: rgba(0,0,0,0%);
    outline: none;
    border-style: none;

    color: white;
    font-family: 'OpenSansLight';
    font-size: 12pt;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 600;
}

.button_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit_button {
    margin-top: 60px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;

    width: 270px;

    color: white;
    font-family: 'OpenSansLight';
    font-size: 12pt;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 600;

    background-color: rgba(0,0,0,0%);

    border-width: 1px;
    border-color: white;
    border-style: solid;

    cursor: pointer;
}

.loginBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-right: 28px;
    margin-top: 14px;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
    text-decoration: none;
}

.loginBlock p {
    font-size: 9pt;
    margin-left: 15px;
}